img(src="http://38.media.tumblr.com/tumblr_m7lcmlGFZz1rc1hw8o1_500.png", alt="Say hi to Mooshie - the new site is finally going live!")
                
p Say hi to Mooshie - the new site is finally going live!
