h1 How To Launch A Product, Make Money AND Get Incredible Feedback

p <strong>Background</strong>

p Last Summer (2013) I had the pleasure of attending <a href="https://www.hackerschool.com/"><span class="s1">Hacker School</span></a> where I met <a href="https://twitter.com/tbuchok"><span class="s1">Tom</span></a>. Tom and I spent a good chunk of the summer hacking on projects together and, towards the end the summer, <strong>we decided to create an </strong><a href="http://www.mailcharts.com/"><span class="s1"><strong>email marketing tool</strong></span></a>. We’re the perfect combo: <a href="http://composenew.com/"><span class="s1">Tom’s</span></a> been in the email marketing industry for a while and I’ve been a marketer (whatever that means) for 3+ years.

p After a few days of hacking, <strong>a really rough prototype of </strong><a href="http://www.mailcharts.com/"><span class="s1"><strong>MailCharts</strong></span></a><strong> was born</strong>. (I’ll explain our development approach in another post.)

p <strong>Build it, they will come…</strong>

p … said no successful entrepreneur ever. If you’re reading this, you’re likely to know the importance of user feedback. <strong>Building something in a silo is the best way to build something nobody wants.</strong>

p The problem is, <em>nobody</em> cares about your product. Seriously. <strong>Getting feedback is wayyy more difficult than your average blog post makes it seem.</strong>

p Why? Because not only do you need to find people interested in your product or service, but you also need to find users that are supportive (new ideas can be a fragile thing), willing to trust you and — ideally — <strong>willing to pay</strong> for your product or service.

p See, not easy!

p <strong>Meet Product Hunt</strong>

p <span class="s1"><a href="http://www.producthunt.co/">Product Hunt</a></span> is a really simple (and beautiful) website <strong>where <em>community</em> members post new products or services</strong>. Once something is posted, the <em>community</em> can upvote it and share their thoughts.

p <a href="http://www.producthunt.co/"><img alt="image" src="http://media.tumblr.com/975066a356abea6a9a7874f219eb1179/tumblr_inline_n6171dJIRz1r21sx6.png"></a>


p Before posting MailCharts on Product Hunt, I asked <a href="https://twitter.com/rrhoover"><span class="s1">Ryan</span></a> if he thought it’d be a good fit.

p <a href="https://twitter.com/rrhoover/status/466602092271251457"><img alt="image" src="http://media.tumblr.com/1676577a6d0d682955cc55bcd73400d6/tumblr_inline_n616zeP5Ld1r21sx6.png"></a>


p A few minutes later the <a href="http://www.producthunt.co/posts/mailcharts"><span class="s1">post went live</span></a>. Sweet frijoles Batman! Never have I seen a <em>community</em> that is <strong>so supportive, welcoming and full of constructive criticism</strong>.

<blockquote>
p Product Hunt is all about the community
</blockquote>

p We received tons of support and valuable insights — and even got to connect with a few companies interested in using our public API (when it becomes available).

p Here’s a few comments:

p <img alt="image" src="http://media.tumblr.com/51b2e5df945c2ea73fee2402dd05107f/tumblr_inline_n6176aFYsW1r21sx6.png">

p <img alt="image" src="http://media.tumblr.com/aac7af25f141bffb49465f94e82f687b/tumblr_inline_n6176mY8hb1r21sx6.png">

p <img alt="image" src="http://media.tumblr.com/473b73081b39028bb85db358d76476dc/tumblr_inline_n617744qoC1r21sx6.png">

p <strong>Charge a credit card, you must</strong>

p <strong>Your most valuable feedback will come from </strong><a href="http://en.wikipedia.org/wiki/Customer"><span class="s1"><strong>customers</strong></span></a> (notice the “monetary consideration” part). Fremium might work for some but, IMO, free users are not necessarily a good representation of those willing to pay for what you offer.

p So, how did MailCharts do?

ul
  li Product Hunt drove 1,712 sessions and 1,385 new users
  li Our <a href="https://app.mailcharts.com/signup?plan=1"><span class="s1">sign up page</span></a> also received 387 unique page views (aka: visitors with some form of purchasing intent)
  li We received 30+ new (paying) users in less than a week
  li Our <a href="http://www.mailcharts.com/email-marketing-ideas">mailing list</a> received over 100 new subscribers

p <em>Quick math: Assuming new users stay with MailCharts for 10 months (we have no historical data), Product Hunt drove $<em>8,700</em> in sales ($29 * 10 months * 30 customers = $8,700).</em>

p Buuuuut, much more important than new user count, we received <em>tons of actionable feedback. </em>One thing is clear: Product Hunt drives quality traffic!

p My experience with Product Hunt has been amazing. Hats off to Ryan and his team for building such a great product and community — you’re doing it right!

p <span>If you’re looking to discover the best new products, head over to </span><a href="http://www.producthunt.co/">Product Hunt</a><span> and sign up. An incredible community awaits!</span>

p P.S. Don’t forget to say hi on <a href="https://twitter.com/carlsednaoui"><span class="s1">Twitter</span></a> or on <span class="s1"><a href="http://producthunt.co/carlsednaoui">Product Hunt</a> :)</span>
