extends ../../../templates/post

block content
  .markdown
    :markdown
      # How To Launch A Product, Make Money AND Get Incredible Feedback

      **Background**

      Last Summer (2013) I had the pleasure of attending [Hacker School](https://www.hackerschool.com/) where I met [Tom](https://twitter.com/tbuchok). Tom and I spent a good chunk of the summer hacking on projects together and, towards the end the summer, **we decided to create an [email marketing tool](http://www.mailcharts.com/)**. We’re the perfect combo: [Tom’s](http://composenew.com/) been in the email marketing industry for a while and I’ve been a marketer (whatever that means) for 3+ years.

      After a few days of hacking, **a really rough prototype of [MailCharts](http://www.mailcharts.com/) was born**. (I’ll explain our development approach in another post.)

      **Build it, they will come…**

      … said no successful entrepreneur ever. If you’re reading this, you’re likely to know the importance of user feedback. **Building something in a silo is the best way to build something nobody wants.**

      The problem is, **nobody** cares about your product. Seriously. **Getting feedback is wayyy more difficult than your average blog post makes it seem.**

      Why? Because not only do you need to find people interested in your product or service, but you also need to find users that are supportive (new ideas can be a fragile thing), willing to trust you and — ideally — **willing to pay** for your product or service.

      See, not easy!

      **Meet Product Hunt**

      <a href="http://www.producthunt.co/">Product Hunt</a> is a really simple (and beautiful) website **where **community** members post new products or services**. Once something is posted, the **community** can upvote it and share their thoughts.

      [![](/images/posts/product-hunt-1.png)](http://www.producthunt.com)


      Before posting MailCharts on Product Hunt, I asked [Ryan](href="https://twitter.com/rrhoover) if he thought it’d be a good fit.

      <a href="https://twitter.com/rrhoover/status/466602092271251457"><img alt="image" src="http://media.tumblr.com/1676577a6d0d682955cc55bcd73400d6/tumblr_inline_n616zeP5Ld1r21sx6.png"></a>


      A few minutes later the [post went live](http://www.producthunt.co/posts/mailcharts). Sweet frijoles Batman! Never have I seen a **community** that is **so supportive, welcoming and full of constructive criticism**.

      > Product Hunt is all about the community

      We received tons of support and valuable insights — and even got to connect with a few companies interested in using our public API (when it becomes available).

      Here’s a few comments:

      ![](/images/posts/product-hunt-2.png)

      ![](/images/posts/product-hunt-3.png)

      ![](/images/posts/product-hunt-4.png)

      **Charge a credit card, you must**

      **Your most valuable feedback will come from [customers](http://en.wikipedia.org/wiki/Customer)** (notice the “monetary consideration” part). Fremium might work for some but, IMO, free users are not necessarily a good representation of those willing to pay for what you offer.

      So, how did MailCharts do?

      - Product Hunt drove 1,712 sessions and 1,385 new users
      - Our [sign up page](https://app.mailcharts.com/signup?plan=1) also received 387 unique page views (aka: visitors with some form of purchasing intent)
      - We received 30+ new (paying) users in less than a week
      - Our [mailing list](http://www.mailcharts.com/email-marketing-ideas) received over 100 new subscribers

      **Quick math: Assuming new users stay with MailCharts for 10 months (we have no historical data), Product Hunt drove $**8,700** in sales ($29 * 10 months * 30 customers = $8,700).**

      Buuuuut, much more important than new user count, we received **tons of actionable feedback. **One thing is clear: Product Hunt drives quality traffic!

      My experience with Product Hunt has been amazing. Hats off to Ryan and his team for building such a great product and community — you’re doing it right!

      If you’re looking to discover the best new products, head over to [Product Hunt](http://www.producthunt.com) and sign up. An incredible community awaits!

      P.S. Don’t forget to say hi on [Twitter](https://twitter.com/carlsednaoui) or on [Product Hunt](http://producthunt.co/carlsednaoui) :)
