extends ../../../templates/post

block content
  .markdown
    :markdown
      # Goodbye New Spotify Logo
                
      If you’ve recently updated Spotify, you surely noticed the new logo.  I personally didn’t mind the old logo, but the new one…. not my cup of tea.
      
      Here is the new logo

      ![](/images/posts/spotify-1.png)

      And here is what my dock currently looks like:

      ![](/images/posts/spotify-2.png)

      Personally, I’m not a fan. After doing some Dribbble hunting, I [found this really cool cassette](http://dribbble.com/shots/618406-Cassette) by Román Jusdado

      ![](/images/posts/spotify-3.jpg)

      After a little Photoshop action, we get this nice image

      ![](/images/posts/spotify-4.png)


      To change your icon simply do the following:

        1. Open the image with Preview (on a mac)
        1. Hit cmd + A to select all
        1. Hit cmd + C to copy the image content
        1. Go to your Application folder, find Spotify, right click and select “Get Info”
        1. Select the tiny logo (on the left upper hand)
        1. Hit cmd + V and voila!

      Before

      ![](/images/posts/spotify-5.png)

      After

      ![](/images/posts/spotify-6.png)


      The last, and final step, is to re-drag Spotify from your Applications folder.

      You’re all set!

      ![](/images/posts/spotify-7.png)


      PS: Here is what the old Spotify logo looked like:

      ![](/images/posts/spotify-8.png)

      PPS: Yes, that is indeed a Pikachu icon on my doc (used for Sublime Text).
