extends ../../../templates/post

block content
  h1 Learning jQuery with Street Fighter and Hadoukens
              
  p <span>Here’s a guide teaching jQuery basics with Ryu and Hadoukens that I created for&nbsp;</span><a href="http://www.thinkful.com/">Thinkful</a><span>.&nbsp;The guide teaches jQuery by using the JS console; the code is&nbsp;</span><a href="https://github.com/carlsednaoui/intro-to-jquery">available on GitHub</a><span>.</span>

  p <a href="http://www.thinkful.com/learn/intro-to-jquery" title="Intro to jQuery"><strong>View the jQuery Guide Here&nbsp;»</strong></a>

  p <a href="http://www.thinkful.com/learn/intro-to-jquery"><strong><img src="http://media.tumblr.com/a0b1b3f2be0fa1ecbb7c4c33a3e553f4/tumblr_inline_mwxmkcR8Cx1r21sx6.png"></strong></a>

  p Enjoy :)
