extends ../../../templates/post

block content
  .markdown
    :markdown
      # Learning jQuery with Street Fighter and Hadoukens
                  
      Here’s a guide teaching jQuery basics with Ryu and Hadoukens that I created for [Thinkful](http://www.thinkful.com/). The guide teaches jQuery by using the JS console; the code is [available on GitHub](https://github.com/carlsednaoui/intro-to-jquery).

      ## [View the jQuery Guide Here »](http://www.thinkful.com/learn/intro-to-jquery)

    
      [![](/images/posts/jquery-streetfighter.png)](http://www.thinkful.com/learn/intro-to-jquery)

      Enjoy :)
