/**
 body, header and footer
 */

body
  font-family: font-source
  color: greyDark
  padding-bottom: 100px

header
  padding-top: spacing
  margin: 0 auto
  text-align: center
  
  .name
    h1
      display: inline-block
      font-family: font-raleway
      font-weight: 200
      font-size: 1.8em
      text-transform: uppercase
      margin-bottom: 10px
      color: grey
      
  li
    display: inline-block
    margin-left: 0
    
    a
      text-decoration: none
      padding-left: 10px
      padding-right: 10px
      color: grey
      font-weight: 200


/**
 other styles
 */

h1
  font-size: 2.4em
  padding-top: 20px
  margin-bottom: 50px
  font-weight: 400
  font-family: font-raleway
h2
  font-size: 1.8em
  padding-top: 20px
  margin-bottom: 40px
  font-weight: 400
  font-family: font-raleway
h3
  font-size: 1.4em
  padding-top: 20px
  margin-bottom: 30px
  font-weight: 300
  font-family: font-raleway
p
  font-size: 1.15em
  line-height: 1.8em
  margin-bottom: 20px
  font-weight: 300

li
  font-size: 1.1em
  line-height: 1.5em
  font-weight: 300
  margin-left: 15px

h1 a,
h2 a,
h3 a,
p a
  color: greyDark
  text-decoration: none
  border-bottom: 1px solid greyLight

blockquote
  border-left: 5px solid grey
  padding-left: 10px
  margin-top: 10px
  margin-bottom: 10px

img
  border-radius: 3px
