/**
 blog styles
 */

.blog-post
  max-width: 600px
  margin: 0 auto
  padding: 10px

  h1
    margin-top: 30px
    padding-bottom: 30px
    font-size: 2em
    text-align: center
    line-height: 45px

  h2
    font-size: 1.5em
    margin-bottom: 5px

  p
    font-size: 1.2em
    line-height: 1.7em
    margin-bottom: 30px
  
  p strong
    font-weight: 400

  ul
    margin-bottom: 30px
  
  li
    margin-left: 30px

  li a
    color: greyDark
    text-decoration: none
    border-bottom: 1px solid greyLight

  li *
    font-size: 1em

  img
    max-width: 100%
