/**
 template layouts
 */

.container
  display: flex
  flex-flow: row wrap
  max-width: pageWidth
  padding: 10px
  margin: 30px auto 0 auto

.content
  flex: 5 0px
  padding: 0 10px
  
.sidebar
  flex: 2 0px
  padding: 0 10px
