/**
 required files and imports
 */

@require "reset"
@require "colors"
@require "utility"
@require "base"
@require "layout"
@require "js"


/**
 other styles
 */

.about-item
  margin-top: 40px

.content li a
  color: greyDark
  text-decoration: none
  border-bottom: 1px solid greyLight
