.homepage
  .quote
    padding-top: 10%
  
  h1,
  h2
    font-family: font-raleway
    font-weight: 200
    text-transform: lowercase
    text-align: center
    color: #888
  
  h1
    font-size: 1.5em
    animation: fadeinfromtop 3s
    margin-bottom: 30px
  
  h2
    font-size: 1.2em
    animation: fadeinfrombottom 6s
    opacity: 1
    
  @keyframes fadeinfromtop
    0% { 
      opacity: 0;
      margin-top: -30px;
    }
    
    100% {
      opacity: 1;
      margin-top: 0;
    }
    
  @keyframes fadeinfrombottom
    0% { 
      opacity: 0;
      margin-top: 100px;
    }
    30% {
      opacity: 0;
      margin-top: 100px;
    }
    100% {
      opacity: 1;
      margin-top: 0;
    }
  
.about
  max-width: 600px
  margin: 0 auto
  
  .about-item
    margin-top: 40px
  
  img
    width: 100%
