/**
 list of colors used throughout the site
 */

blueDark = #344A5F
blue = #2A94D6
green = #4AB471
red = #CF5C60
greyDark = #444444
grayDark = #444444
grey = #888888
gray = #888888
greyLight = #BBBBBB
grayLight = #BBBBBB
white = #FBFCFC

font-source = 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif
font-raleway = 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif
