extends ../../../templates/post

block head
  - var title = "Google Adwords Promotional Code"
  - var description = "Entering a Google Adwords promotional code after you’ve entered your payment details is relatively easy, it’s just that the menu is hard to find — hence this blog post."
  - var url = "/post/53693024519/google-adwords-promotional-code"

block content
  .markdown
    :markdown
      # Google Adwords Promotional Code
      
      Entering a <a href="http://www.google.com/adwords/">Google Adwords</a> promotional code **after** you’ve entered your payment details is relatively easy, it’s just that the menu is hard to find — hence this blog post.

      Once you’ve entered your payment information in Adwords go to “Billing” &gt; “Billing Preferences”:

      ![](/images/posts/adwords-1.png)


      Then click “More actions” &gt; “Apply a promotional code”:

      ![](/images/posts/adwords-2.png)

      Et voila! You’re done.

      PS: I have some free Adwords promotional codes. Feel free to [reach out](https://twitter.com/carlsednaoui) if you’re interested in grabbing one :)
