extends ../templates/homepage

block head
  - var title = "About Carl Sednaoui"
  - var description = "Hi there good looking! This is where you get to learn more about yours truly."
  - var url = "/about"

block content
  .about

    //- 
    //- basic about me section
    //- 
    
    h1 Hi there, good looking

    img(src="/images/carl.jpg")

    p.u-marginTop Hi, I'm Carl.
    p I live in NYC and love everything related to Marketing, Consumer Psychology, User Acquisition and Website Optimization. I’m also a huge fan of online education, biking, rock climbing, photography and yoga.
    p I Tweet about technology, startups and marketing. 
      a(href="https://twitter.com/carlsednaoui") You can follow me here
      | .


    //- 
    //- current items
    //- 

    h2.u-marginTopLarge What Keeps Me Busy
    .about-item
      h3
        a(href="http://www.mailcharts.com/") MailCharts

      p 
        span.u-bold About: 
        | Director of Marketing

      p Online retailers use  
        a(href="http://www.mailcharts.com/") MailCharts
        |  to plan and optimize their email program leveraging competitive insights.
      
      //- 
      //- previous items
      //- 

      h2.u-marginTopLarge Previous

      .about-item
        h3
          a(href="http://www.thinkful.com") Thinkful
        p 
          span.u-bold About: 
          | Head of Inbound Marketing
          
        p Thinkful provides education tailored to you. We helps busy professionals (like you) learn new skills (to get a job or build a business) with mentor-based education (from someone that's "been there, done that") and a project-oriented curriculum (you learn by doing).
          
        p I lead our inbound marketing team and get to help with fun projects such as our homepage redesign, building internal tools and even by writing content such as 
          a(href="http://www.thinkful.com/learn/intro-to-jquery") this
          | .
       
      .about-item 
        h3
          a(href="http://www.coderdojonyc.com/") CoderDojo NYC
        p
          span.u-bold About: 
          | Co-Founder

        p
          a(href="http://www.coderdojonyc.com/") CoderDojo NYC
          |  is a free non-for-profit movement that helps youth (ages 7-17) learn how to code. If you’re interested in volunteering, you should sign-up 
          a(href="http://www.coderdojonyc.com/#mentor-signup") Volunteer for CoderDojo NYC
          | . CoderDojo NYC has been running for about a year. We have over 150 NYC volunteers and have welcomed nearly 1,500 kids to our sessions.

      .about-item
        h3
          a(href="https://www.udemy.com/intro-to-adwords") Intro to Adwords
          |  - Udemy Class
        p
          span.u-bold About: 
          | Course creator
      
        p This is a free Udemy class I created to teach Google Adwords and basic SEM. Over 6,000 users have signed up for it. You should too.

      .about-item
        h3
          a(href="https://www.hackerschool.com/") HackerSchool
        p
          span.u-bold About: 
          | I took the summer of 2013 off to spend my waking hours coding along with 70 other extremely talented and passionate hackers.
      
        p Some of the projects I worked on include:
        ul.u-indentedBullets
          li 
            a(href="http://carlsednaoui.github.io/ouical/") Add to Calendar JS
            |  JS Library to easily create add-to-calendar buttons
          li 
            a(href="https://github.com/carlsednaoui/ouispecify") CSS Specificity Calcliator
          li 
            a(href="https://github.com/carlsednaoui/ouicards") OuiCards
            |  JS flashcard library that uses the Leitner System
          li 
            a(href="http://flashcardbox.herokuapp.com/XTXa") FlashcardBox
            |  - A Node app that uses ouicards
          li 
            a(href="https://github.com/carlsednaoui/ouiseo") OuiSEO
            |  - A JS bookmarklet to analyze on-page SEO and Social Media tags
        
        a.u-block.u-marginTop(href="https://github.com/carlsednaoui/ouiseo")
          img(src="/images/ouiseo_demo.gif")

      .about-item
        h3
          a(href="http://www.sidetour.com/") SideTour
          |  - Acquired by Groupon
        p
          span.u-bold About: 
          | User Growth and Marketing
      
        p At SideTour, a TechStars company, I focused on user acquisition, website optimization and email marketing. I also reported site metrics to the founders and investors and helped shape the product with a numbers-driven approach.

      .about-item
        h3
          a(href="http://www.franchisehelp.com/") FranchiseHelp
        p
          span.u-bold About: 
          | Head of Marketing
      
        p Marketing and website optimizations lead for 
          a(href="http://www.franchisehelp.com") FranchiseHelp
          |  . This involved lots of A/B testing (and funnel conversion optimization), media buying on Adwords and other platforms as well as SEO.

      //- 
      //- projects
      //- 
      
      h2.u-marginTopLarge Projects
      .about-item
        h3
          a(href="http://permutationer.com/") Permutationer
        p
          span.u-bold About: 
          | Sinatra app built to help create Adwords campaigns.
      
        p When it’s time to launch your campaigns on Google Adwords, nothing is more painful than having to create 100’s of keyword permutations. Well, fear no more, [Permutationer](http://permutationer.com/) is here to help you create keyword permutations in seconds.

        p
          span.u-bold Fun fact: 
          | We used this tool at 
          a(href="http://profero.com/") Profero
          |  to relaunch the Western Union account, which had over 1 million keywords.
      
      //- 
      //- press
      //- 

      h2.u-marginTopLarge Press
      p Some of my writing & projects have been featured in:
      ul.u-indentedBullets
        li 
          a(href="http://lifehacker.com/5993116/zoom-in-and-out-on-google-maps-with-this-one%20handed-shortcut") LifeHacker
          | , 
          a(href="http://lifehacker.com/why-a-github-gist-is-my-favorite-to-do-list-1493063613") LifeHacker bis
        li 
          a(href="http://thenextweb.com/google/2013/03/31/round-up-all-of-googles-jokes-for-april-fools-2013-from-google-maps-treasure-hunting-to-youtube-closing/") TNW
          | , 
          a(href="http://thenextweb.com/insider/2014/06/05/product-hunt-is-leveling-the-playing-field-to-help-good-apps-and-startups-get-attention/") TNW bis
        li 
          a(href="http://littlebigdetails.com/post/51559128905/google-maps-for-iphone-double-tap-to-zoom-with") Little Big Details
        li 
          a(href="http://moz.com/ugc/a-onestop-seo-bookmarklet-that-includes-social-metadata") Moz
        li 
          a(href="http://www.theverge.com/2013/4/1/4169408/google-microsoft-fight-over-april-fools") The Verge
        li 
          a(href="http://techcrunch.com/2013/04/01/april-fools-2013/") TechCrunch
        li 
          a(href="http://techcrunch.com/2013/04/28/rambler-takes-home-the-disrupt-ny-2013-hackathon-grand-prize-radical-and-learn-to-drive-are-runners-up/") TechCrunch Disrupt
        li 
          a(href="http://gizmodo.com/5993128/the-best-secret-google-maps-gesture-is-totally-brilliant") Gizmodo
        li 
          a(href="http://readwrite.com/2013/04/01/fool-us-once-2013-april-fools-day-roundup") ReadWrite
        li 
          a(href="http://www.dailymail.co.uk/sciencetech/article-2302746/Secret-gesture-revealed-finally-lets-use-Google-maps-hand.html") DailyMail UK
        li 
          a(href="https://www.facebook.com/smashmag/posts/10151548878952490") Smashing Mag Facebook Page
          |  - for what it's worth
        li 
          a(href="http://www.treehugger.com/gadgets/secret-google-maps-gesture-awesome-one-handed-navigation.html") Treehugger
        li 
          a(href="http://tweakers.net/nieuws/88195/bellen-met-je-muis-schatzoeken-en-meer-1-april-grappen.html") Tweakers
        li 
          a(href="http://www.giga.de/unternehmen/google/news/10-google-aprilscherze-youtube-wird-geschlossen-google-nose-gmail-blue-schatzsuche/") Giga.de
        li 
          a(href="http://www.vogue.it/en/magazine/fashion-stories/2011/07/urban-mood") Vogue.it
          |  - I had the pleasure of filming this. Post-production was done by someone else.
      
      img.u-block.u-marginTopXl(src="/images/tc-disrupt-2013.jpg")
      blockquote On stage at TC Disrupt 2013.
      
      img.u-block.u-marginTopLarge(src="/images/at-tumblr.jpg")
      blockquote At Tumblr HQ with David and Valentine.
