doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="styles/main.css")
    link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900", rel="stylesheet", type="text/css")
    script(src="scripts/lib/jquery.min.js")
    script(src="scripts/test.js")
  body
    p about me


//- extends partials/_homepage

//- block head
//-   title foo

//- block content
//-   p carl sednaoui!

//-   each post in posts
//-     li
//-       a(href="#{post['href']}") #{post['title']}

//-   .markdown
//-     :markdown
//-       This is _some_ awesome **markdown**

//-       # h1 ftw
//-       ## h2 ftw

//-       - list of stuff
//-       - more list
//-       - more list
//-       - more list

//-       > comment comment

//-       ```js
//-       code block what what
//-       ```
