extends ../templates/homepage

block head
  title About Carl Sednaoui

block content
  :markdown
    Hey there good looking, thanks for stoping by. It’s a pleasure to see you here!

    __A little bit about me:__
    
    I live in NYC and love everything related to Marketing, Consumer Psychology, User Acquisition and Website Optimization. I’m also a huge fan of online education, biking, rock climbing, photography and yoga.

    I Tweet about technology, startups and marketing;&nbsp;<a href="https://twitter.com/carlsednaoui" title="Carl Sednaoui Twitter">you can follow me here</a>.

    [![](http://media.tumblr.com/c27cc7568d82207bf8a1074772309328/tumblr_inline_mnzjjuDvV21r21sx6.png)](https://twitter.com/carlsednaoui)

    ## What Keeps Me Busy
    ### [Thinkful](http://www.thinkful.com)
    
    __About:__ Marketing Engineer
    
    Thinkful helps busy professionals learn how to code with mentor-based education and a project-oriented curriculum.
    
    My days are split between marketing and engineering. Sometime I also get to write fun content, like this <a href="http://www.thinkful.com/learn/intro-to-jquery">intro to jQuery guide</a>.
    
    ### [CoderDojo NYC](http://www.coderdojonyc.com/)

    __About:__ Co-Founder
    [CoderDojo NYC](http://www.coderdojonyc.com/) is a free non-for-profit movement that helps youth (ages 7-17) learn how to code. If you’re interested in volunteering, you should sign-up [Volunteer for CoderDojo NYC](http://www.coderdojonyc.com/#mentor-signup)
    CoderDojo NYC has been running for about a year. We have over 150 NYC volunteers and have welcomed nearly 1,500 kids to our sessions.
    
    ### [MailCharts](http://www.mailcharts.com/)

    __About:__ A tool to track how your competitors (and other companies) use email marketing.
    This is the email marketing tool I always wished I had.
    
    ## Previous
    ### [Intro to Adwords - Udemy Class](https://www.udemy.com/intro-to-adwords)

    __About:__ Course creator
    
    This is a free Udemy class I created to teach Google Adwords and basic SEM. Over 6,000 users have signed up for it. You should too.

    ### [HackerSchool](https://www.hackerschool.com/)
    __About:__ I took the summer of 2013 off to spend my waking hours coding along with 70 other extremely talented and passionate hackers.

    Some of the projects I worked on include:

    - [Add to Calendar JS](http://carlsednaoui.github.io/ouical/) - JS Library to easily create add-to-calendar buttons
    - [CSS Specificity Calculator](https://github.com/carlsednaoui/ouispecify)
    - [OuiCards](https://github.com/carlsednaoui/ouicards) - JS flashcard library that uses the Leitner System
    - [FlashcardBox](http://flashcardbox.herokuapp.com/XTXa) - A Node app that uses ouicards
    - [OuiSEO](https://github.com/carlsednaoui/ouiseo) - A JS bookmarklet to analyze on-page SEO and Social Media tags
    
    ![](http://f.cl.ly/items/0r2i2h1K1g0E0o1d1F1u/ouiseo_demo.gif)
    
    ## [SideTour](http://www.sidetour.com/) (acquired by Groupon)
    __About:__ User Growth and Marketing
    At SideTour, a TechStars company, I focused on user acquisition, website optimization and email marketing. I also reported site metrics to the founders and investors and helped shape the product with a numbers-driven approach.

    ### [FranchiseHelp](http://www.franchisehelp.com/)
    __About:__ Head of Marketing
    
    Marketing and website optimizations lead for [FranchiseHelp](http://www.franchisehelp.com). This involved lots of A/B testing (and funnel conversion optimization), media buying on Adwords and other platforms as well as SEO.
    
    ## Projects
    
    ### [Permutationer](http://permutationer.com/)
    __About:__ Sinatra app built to help create Adwords campaigns.
    
    When it’s time to launch your campaigns on Google Adwords, nothing is more painful than having to create 100’s of keyword permutations. Well, fear no more, [Permutationer](http://permutationer.com/) is here to help you create keyword permutations in seconds.

    __Fun fact:__ We used this tool at [Profero](http://profero.com/) to relaunch the Western Union account, which had over 1 million keywords.</p>
    

    ## Press
    Some of my blog posts &amp; projects have been featured in:

    - [LifeHacker](http://lifehacker.com/5993116/zoom-in-and-out-on-google-maps-with-this-one%20handed-shortcut), [LifeHacker bis](http://lifehacker.com/why-a-github-gist-is-my-favorite-to-do-list-1493063613)
    - [TNW](http://thenextweb.com/google/2013/03/31/round-up-all-of-googles-jokes-for-april-fools-2013-from-google-maps-treasure-hunting-to-youtube-closing/), [TNW bis](http://thenextweb.com/insider/2014/06/05/product-hunt-is-leveling-the-playing-field-to-help-good-apps-and-startups-get-attention/)
    - [Little Big Details](http://littlebigdetails.com/post/51559128905/google-maps-for-iphone-double-tap-to-zoom-with)
    - [Moz](http://moz.com/ugc/a-onestop-seo-bookmarklet-that-includes-social-metadata)
    - [The Verge](http://www.theverge.com/2013/4/1/4169408/google-microsoft-fight-over-april-fools)
    - [TechCrunch](http://techcrunch.com/2013/04/01/april-fools-2013/)
    - [TechCrunch Disrupt](http://techcrunch.com/2013/04/28/rambler-takes-home-the-disrupt-ny-2013-hackathon-grand-prize-radical-and-learn-to-drive-are-runners-up/)
    - [Gizmodo](http://gizmodo.com/5993128/the-best-secret-google-maps-gesture-is-totally-brilliant)
    - [ReadWrite](http://readwrite.com/2013/04/01/fool-us-once-2013-april-fools-day-roundup)
    - [DailyMail UK](http://www.dailymail.co.uk/sciencetech/article-2302746/Secret-gesture-revealed-finally-lets-use-Google-maps-hand.html)
    - [Smashing Mag Facebook Page](https://www.facebook.com/smashmag/posts/10151548878952490)
    - [Treehugger](http://www.treehugger.com/gadgets/secret-google-maps-gesture-awesome-one-handed-navigation.html)
    - [Tweakers](http://tweakers.net/nieuws/88195/bellen-met-je-muis-schatzoeken-en-meer-1-april-grappen.html)
    - [Giga.de](http://www.giga.de/unternehmen/google/news/10-google-aprilscherze-youtube-wird-geschlossen-google-nose-gmail-blue-schatzsuche/)
    - [Vogue.it](http://www.vogue.it/en/magazine/fashion-stories/2011/07/urban-mood) (I had the pleasure of filming this — post-prod was done by someone else)
    
    ![](http://media.tumblr.com/e9740e807851dffc426dd1cf1f351323/tumblr_inline_mn5c5iC1TG1r21sx6.jpg)
    > On stage at TC Disrupt 2013.
    
    ![](http://media.tumblr.com/f867892d917c425459c4e1f9f2e3ca19/tumblr_inline_mthplcWSc31r21sx6.jpg)
    > At Tumblr HQ with David and Valentine.
