extends ../templates/homepage

block head
  - var title = "Carl Sednaoui's articles"
  - var description = "Discover Carl Sednaoui's latest blog posts and articles."
  - var url = "/"

block content
  h1 Latest articles
  
  ul 
    li
      a(href="/post/86600844727/how-to-launch-a-product-make-money-and-get-incredible") how to launch a product make money and get incredible feedback
    li
      a(href="/post/70299468325/the-best-to-do-list-a-private-gist") the best to do list a private gist
    li
      a(href="/post/68273944506/learning-jquery-with-street-fighter-and-hadoukens") learning jquery with street fighter and hadoukens
    li
      a(href="/post/64517054104/exporting-utm-codes-from-your-facebook-ads") exporting utm codes from your facebook ads
    li
      a(href="/post/55604535740/google-calendar-adding-other-calendars-to-your-iphone") google calendar adding other calendars to your iphone
    li
      a(href="/post/54877941322/nyc-mta-v-s-google-maps") nyc mta v s google maps
    li
      a(href="/post/46850108137/introducing-min-s-a-new-way-to-browse-tumblr") introducing min s a new way to browse tumblr
    li
      a(href="/post/46805160838/google-analytics-happy-april-fool") google analytics happy april fool
    li
      a(href="/post/46803524724/google-maps-one-hand-zoom-on-iphone") google maps one hand zoom on iphone
    li
      a(href="/post/34763861390/getting-28-000-devs-email-addresses-in-couple-hour") getting 28 000 devs email addresses in couple hour
    li
      a(href="/post/31606573754/onboarding-users-like-a-boss") onboarding users like a boss
    li
      a(href="/post/") view all articles    
