extends ../templates/homepage

block head
  - var title = "Carl Sednaoui"
  - var description = "Discover Carl Sednaoui's latest blog posts and projects right here."
  - var url = "/"

block content
  .homepage
    .quote
      h1 The internet is cluttered — this page isn't
      h2 Take a moment to smile and relax
