extends ../templates/homepage

block head
  title Carl Sednaoui
  meta(name="description" content="Discover Carl Sednaoui's latest blog posts and projects right here.")

block content
  p Carl Sednaoui

  each post in posts
    li
      a(href="#{post['href']}") #{post['title']}

  .markdown
    :markdown
      This is _some_ awesome **markdown**

      # h1 ftw
      ## h2 ftw

      - list of stuff
      - more list
      - more list
      - more list

      > comment comment

      ```js
      code block what what
      ```
