extends ../templates/homepage

block head
  title Carl Sednaoui
  meta(name="description" content="Discover Carl Sednaoui's latest blog posts and projects right here.")

block content
  p Carl Sednaoui

  each post in posts
    li
      a(href="#{post['href']}") #{post['title']}
