extends ../../../templates/post

block head
  - var title = "New Google Analytics: How to find my Referrals"
  - var description = "The new Google Analytics removed our loved “Referrals” tab from the “Traffic Sources” menu."
  - var url = "/post/63707701986/new-google-analytics-how-to-find-my-referrals"

block content
  .markdown
    :markdown
      # New Google Analytics: How to find my Referrals
      
      The new Google Analytics removed our loved “Referrals” tab from the “Traffic Sources” menu.

      No need to stress though, as you still have access to this valuable information… here’s how:

      1. Go to the “Acquisition” tab
        - ![](/images/posts/google-analytics-referral-1.png)
      2. Click on “Channels”
      3. Select “Referral”
        - ![](/images/posts/google-analytics-referral-2.png)

      Tadaaaa! You will now see all that amazing referral data you were looking for.
