h1 New Google Analytics: How to find my Referrals
p The new Google Analytics removed our loved “Referrals” tab from the “Traffic Sources” menu.

p No need to stress though, as you still have access to this valuable information… here’s how:

p 1. Go to the “Acquisition” tab

p <img alt="image" class="toggle_inline_image inline_image constrained_image" src="http://media.tumblr.com/18477de227240773c5a7ff342ea37909/tumblr_inline_muhld8Ekay1r21sx6.png">


p 2. Click on “Channels”

p 3. Select “Referral”

p <img alt="image" class="toggle_inline_image inline_image constrained_image" src="http://media.tumblr.com/0dcdc1b9b02115fa721606e77b8ed94f/tumblr_inline_muhle7vE6Q1r21sx6.png">


p Tadaaaa! You will now see all that amazing referral data you were looking for.
