extends ../../../templates/post

block head
  title Say hi to Mooshie! The new site is finally ready :)

block content
  .markdown
    :markdown
      ![Mooshie](/images/posts/mooshie.png)

      > Say hi to Mooshie - the new site is finally going live!
