extends ../../../templates/post

block head
  - var title = "Say hi to Mooshie! The new site is finally ready :)"
  - var description = "This is mooshie, your friendly robot."
  - var url = "/post/27803255922/say-hi-to-mooshie-the-new-site-is-finally-going"

block content
  .markdown
    :markdown
      ![Mooshie](/images/posts/mooshie.png)

      > Say hi to Mooshie - the new site is finally going live!
