extends ../../templates/homepage

block head
  - var title = "Carl Sednaoui's articles"
  - var description = "Discover Carl Sednaoui's latest blog posts and articles."
  - var url = "/"

block content
  h1 Tadaa: here's all my posts

  each post in posts
    li
      a(href="#{post['href']}") #{post['title']}
