header
  .name
    a(href="/")
      h1 Carl Sednaoui
  ul
    li
      a(href="/articles") Writing
    li
      a(href="/about") About
    li
      a(href="http://www.twitter.com/carlsednaoui") Twitter
    li
      a(href="http://www.github.com/carlsednaoui") GitHub
