header
  ul
    li
      a(href="/") Home
    li
      a(href="/about") About
    li
      a(href="http://www.twitter.com/carlsednaoui") Twitter
    li
      a(href="http://www.github.com/carlsednaoui") GitHub
