head
  link(rel="stylesheet", href="styles/main.css")
  link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900", rel="stylesheet", type="text/css")
  script(src="scripts/lib/jquery.min.js")
  script(src="scripts/test.js")
  block head
