h1 Goodbye New Spotify Logo
            
p If you’ve recently updated Spotify, you’ve surely noticed the new logo.  I personally didn’t mind the old logo, but the new one…. not my cup of tea.
p Here is the new logo:

p <img alt="image" src="http://media.tumblr.com/113b6aa623705107439e966c1e876db2/tumblr_inline_mmaomr2bpQ1qz4rgp.png">

p And here is what my dock currently looks like:

p <img alt="image" src="http://media.tumblr.com/9d92454bfb5a88adf7df104903147cf9/tumblr_inline_mmaom777fm1qz4rgp.png">

p Personally, I’m not a fan. After doing some Dribbble hunting, I <a href="http://dribbble.com/shots/618406-Cassette">found this really cool cassette</a> by Román Jusdado:

p <img alt="image" src="http://media.tumblr.com/4bad19ae305bc4df973e603ffefd2a3b/tumblr_inline_mmaoph57Hw1qz4rgp.jpg">

p After a little Photoshop action, we get this nice image:

p <img alt="image" src="http://media.tumblr.com/772f9fa1e779cd6b36fa3ae8d4b679fe/tumblr_inline_mmaox5jWvU1qz4rgp.png">


p To change your icon simply do the following:

ol
  li Open the image with Preview (on a mac)
  li Hit cmd + A to select all
  li Hit cmd + C to copy the image content
  li Go to your Application folder, find Spotify, right click and select “Get Info”
  li Select the tiny logo (on the left upper hand)
  li Hit cmd + V and voila!

p Before:

p <img alt="image" src="http://media.tumblr.com/68463acc00d387a8ddabe18a4f00e6f0/tumblr_inline_mmap3czni01qz4rgp.png">

p <img alt="image" src="http://media.tumblr.com/4f46f9eebaa902491174866499c955ac/tumblr_inline_mmap3fO5RD1qz4rgp.png">

p After:

p <img alt="image" src="http://media.tumblr.com/42748176f96bfcff26ea05913132f7aa/tumblr_inline_mmap4lw5c31qz4rgp.png">


p The last, and final step, is to re-drag Spotify from your Applications folder.

p You’re all set!

p <img alt="image" src="http://media.tumblr.com/be573e423938375488ea79297f35f355/tumblr_inline_mmapa6836X1qz4rgp.png">


p PS: Here is what the old Spotify logo looked like:

p <img alt="image" src="http://media.tumblr.com/ac3328fd9b6447dc4cbbfe8fc5845a8b/tumblr_inline_mmapgqcR361qz4rgp.png">

p PPS: Yes, that is indeed a Pikachu icon on my doc (used for Sublime Text).
