extends ../../../templates/post

block content
  .markdown
    :markdown
      # Onboarding Users Like A Boss
              
      This past Wednesday I got the opportunity to attend an onboarding class by [Ben Chow](https://twitter.com/hellochow) at [GA](http://generalassemb.ly/).

      The rest of the information here is my own interpretation of Ben’s class - which was absolutely amazing. Any misinterpretation, flawed logic or errors are totally mine, any valuable content is Ben’s.

      ## Onboarding

      Onboarding is about the how and why. **How** do you get visitors to use your product and, more importantly, **why** should they use it. Your goal is to make the boundaries of “trying out your product” and “using your product” disappear.

      An onboarding process does not only to **teach** users, it also guides them while they **use** your product. Design your onboarding process so that users actually **use** your product. Let me repeat that: **Design your onboarding process so that users actually use your product.**

      Now, it’s important to note that as **every click has a cost - yet every click buys you time.** It’s a yin-yang of sort. Think of it this way: after every click you have 3 seconds to get your visitors to the next step… take longer than 3 seconds and boom! they. are. **gone.** Each click “buys” you 3 seconds of extra attention - it’s like a time bonus on the racing track.

      The best way to stick to the 3 seconds rule is easy: Do **not** make your users read… nobody likes to read. Get them to use your product, one small step at a time. Think of it like micro-adrenaline shots where each click gets them visible progress while they interact with your product.

      ## Onboarding enemies

      - Confusion
      - Apathy
      - Time
  
      When you’re describing your product, and onboarding users, remember that visitors may **not** necessarilyunderstand your product and **may not even understand the problem you are solving. **Oftentimes you will need to explain your product (and it’s benefits) 3-4 times! You will need to **bring to light concrete goals and benefits,** this is what gets people to sign up for shit.
  
      Show social proof when possible. Show “like”, interactions, “what’s popular”, who’s got the most points, and so on. Always address fears &amp; concerns - example: “We’ll never post to your wall without your permission.” Yes, many users fear Facebook login. Add this sentence underneath your Facebook login button, you’ll thank Ben and I later. 

      ##The 6 onboarding “must”
      
      1. **Grab their attention and guide them:** Provide cue, context &amp; feedback. This needs to be a tightly integrated loop.

      1. **Sell your value proposition:** Remember, you may need to explain your product 3-4 times.

      1. **Get personal: Example, a** content or fashion site could use an onboarding quiz to only show users relevant content.

      1. **Invite friends and make it make sense**: Asking users to invite friends before they’ve even started using your product probably doesn’t make much sense - asking them to do this after they’ve earned a badge or won a game makes more sense. Social coefficient can be amazing for your brand, take the time to get this right.

      1. **Help users setup.** **Help them integrate into existing habits:** Think about it, when you join a new service you don’t want “yet another platform”, you want shit to be integrated. Guess what, your users want just the same. Think how **your** product fits into **their** life, how it fits in their **day-to-day interactions**. Note: When helping users setup explain them “why” they’re doing this and show them their progress - no one likes to do useless stuff.

      1. **Measure your performance, optimize your funnel:** Recommended tool: [Kissmetrics](http://www.tumblr.com/edit/kissmetrics.com). Optimize like your life depends on it. Because it does.


      In essence, your onboarding process should build excitement, build energy and get your users to use your product. Intro videos are great but the truth is: they don’t get your users to use your product… actually most intro videos are too darn borring. I mean, they are good to tell users what you do in 30 seconds, but that’s generally about it. Note: This is in the context of onboarding, training videos and all other educational videos can be, and sometimes are, a total must.

      Get into social gaming and understand what these guys are doing - and how they do it. Carefully study their onboarding process. You may not like social gaming (I surely don’t) but they know what they’re doing. Think about it, their job is to get users to come back to their games over and over and over again. Many social gaming companies are doing it right - their business life depends on it. Also, look at the online dating industry, they know a thing or two about onboarding.

      When designing your product you need to think of what you want your users to do every time they use your product. You need to **form a habit. **Using your product should become a habit. Opening your app, going to your site, playing your game should become a habit. Make your product habit-worthy.

      Remember that when you are onboarding you dont have a passionate user (not yet). You need to think about all the touch points where your product may be useful or needed. Be everywhere your user may want or need you.

      ## Good examples of mobile onboarding

      - [Karma](http://getkarma.com/)
      - [Pose](http://pose.com/)
      - [Pocket](http://getpocket.com/)

      ## Suggested reading

      - [Malcolm Gladwell - The Pitchmen](http://www.gladwell.com/2000/2000_10_30_a_pitchman.html)
      - [The Power of Habit](http://www.amazon.com/The-Power-Habit-What-Business/dp/1400069289/ref=sr_1_1?ie=UTF8&amp;qid=1347489279&amp;sr=8-1)

      Now go and refine your onboarding process. If you’ve had any great successes, or miserable failures, feel free to share them in the comment below.

      Edit: [Here is Ben’s presentation](http://socialy.herokuapp.com/onboarding/#/title).
              
