extends ../../../templates/post

block head
  - var title = "The Best To-Do List: A Private Gist"
  - var description = "I’m a HUGE fan of todo lists. They help me stay organized, prioritize my day and add structure to an otherwise chaotic day."
  - var url = "/post/70299468325/the-best-to-do-list-a-private-gist"

block content
  .markdown
    :markdown
      # The Best To-Do List: A Private Gist
      
      I’m a HUGE fan of todo lists. They help me stay organized, prioritize my day and add structure to an otherwise chaotic day. 

      I recently discovered what appears to be the **best **yet** simplest **way to keep a todo list: [a GitHub Gist](http://gist.github.com).

      **Edit:** As mentioned in the [comments on HackerNews](https://news.ycombinator.com/item?id=7000953), this is the **best** to-do list for **me** based on my workflow (I use this on a daily basis at [Thinkful](http://www.thinkful.com)). Depending on your workflow, other to-do lists might make more sense (here are some [recommendations from HN](https://news.ycombinator.com/item?id=7000953) and some [from LifeHacker](http://lifehacker.com/why-a-github-gist-is-my-favorite-to-do-list-1493063613)).

      Allow me to elaborate: GitHub has this thing called “GitHub Flavored Markdown” which allows you to write [task lists](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments).

      Go to [gist.github.com](https://gist.github.com/), create a new Markdown file (ending your filename with .md will auto-set it to Markdown). Enter some Markdown and create a Secret Gist (secret ‘cause you don’t want others peeking on your todos).

      ![](/images/posts/todo-gist-1.png)

      Notice how the above example includes [task lists](https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments) which, when saved, transforms into checkboxes.

      The notation is:

        - `- [ ]` for an empty checkbox
        - `- [x]` for a checked checkbox
        - **Note**: As mentioned by Ben in the comments “you need a space between the dash and open bracket and, for unchecked items, a space between the open and closing brackets.”
    
      It’s like magic, but real.

      ![](/images/posts/todo-gist-2.png)


      Whenever you complete a task simply check it off (all changes are automatically saved):

      ![](/images/posts/todo-gist-3.png)

      At the end of my workday I click “Edit” to delete all tasks completed and move tomorrow’s tasks up:

      ![](/images/posts/todo-gist-4.png)

      ![](/images/posts/todo-gist-5.png)

      Save the file (shortcut: cmd + enter) and voila!

      ![](/images/posts/todo-gist-6.png)

      Wait, but what if I want to know <em>when</em> I completed something? Easy, this is GitHub! Simply go to the revisions tab, your entire file change history is available there:

      ![](/images/posts/todo-gist-7.png)


      Find the sample todo list [here](https://gist.github.com/carlsednaoui/531c4f655735d3317bab). Let me know if you found this useful and happy holidays! :)


      P.S.: I often tweet about Marketing, Engineering and Startups. You should [follow me here](https://twitter.com/carlsednaoui).
