extends ../../../templates/post

block content
  .markdown
    :markdown
      ## Google Search A/B Testing SERP Ad Unit

      Here’s a peek at Google’s latest SERP A/B test.

      ## Original — click to enlarge

      [![](/images/posts/google-serp-old.png)](/images/posts/google-serp-old.png)

      ## Variation — click to enlarge

      [![](/images/posts/google-serp-new.png)](/images/posts/google-serp-new.png)


      I love how much cleaner the variation looks and wonder how this will impact ad click-through rates.
