extends partials/_homepage

block head
  title foo

block content
  p carl sednaoui!

  each post in posts
    li
      a(href="#{post['href']}") #{post['title']}

  .markdown
    :markdown
      This is _some_ awesome **markdown**
