doctype html
html(lang="en")
  include partials/_head.jade
  body
    include partials/_header.jade
    
    .blog-post
      block content

      #disqus_thread
      script.
        var disqus_shortname = 'carlsednaoui';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();  
