extends ../../../templates/post

block head
  - var title = "NYC: MTA v.s. Google Maps"
  - var description = "NYC: MTA v.s. Google Maps"
  - var url = "/post/54877941322/nyc-mta-v-s-google-maps"

block content
  .markdown
    :markdown
      # NYC: MTA v.s. Google Maps
      [![](/images/posts/nyc-map.gif)](/images/posts/nyc-map.gif)
