extends ../../../templates/post

block content
  h1 Google Maps One-Hand Zoom on iPhone
  p <a href="https://twitter.com/zertosh" title="Zertosh Twitter" target="_blank">friend</a>&nbsp;and I just discovered a simple yet incredibly useful feature in Google Maps for iPhone… The one-hand zoom.

  p To perform a one-hand zoom simply double tap on your map and, after the second tap, leave your finger pressed. You can then move your finger up and down to zoom in/ zoom out.

  p Simple, useful, elegant, brilliant.

  p Dear Apple, I’d love to see you implement this in Apple Maps. Dear developers, I’d love to see you implement this in any pinch-to-zoom app.

  p <img alt="image" src="http://media.tumblr.com/277e0a15c6ce6988b35281154091479a/tumblr_inline_mkjvphQuwI1qz4rgp.gif">

  p P.S.: You should follow me on <a href="https://twitter.com/CarlSednaoui">Twitter here</a>.

  p P.P.S.: <a href="http://min-s.com/tagged/dribbble">In need of inspiration? Check out min-s!</a>
