extends ../../../templates/post

block content
  .markdown
    :markdown
      # Google Maps One-Hand Zoom on iPhone
      A [friend](https://twitter.com/zertosh) and I just discovered a simple yet incredibly useful feature in Google Maps for iPhone… The one-hand zoom.

      To perform a one-hand zoom simply double tap on your map and, after the second tap, leave your finger pressed. You can then move your finger up and down to zoom in/ zoom out.

      Simple, useful, elegant, brilliant.

      Dear Apple, I’d love to see you implement this in Apple Maps. Dear developers, I’d love to see you implement this in any pinch-to-zoom app.

      ![](/images/posts/google-maps.gif)

      P.S.: You should follow me on [Twitter here](https://twitter.com/CarlSednaoui).

      P.P.S.: [In need of inspiration? Check out min-s!](http://min-s.com/tagged/dribbble)
