extends ../../../templates/post

block content
  .markdown
    :markdown
      # Introducing min-s, A New Way To Browse Tumblr
              
      Hi there Tumblr fan, I’ve heard you LOVE browsing the incredible pictures available everywhere on Tumblr. I’ve also heard that you want more… more pictures. More incredibly beautiful pictures. MOAR AWESOME PICTURESSS!

      Ok ok, we’ve listened and here is [min-s](http://min-s.com/). A new way to discover visual content on Tumblr.

      You can browse by [#tag](http://min-s.com/tagged/manhattan) and by [blog](http://min-s.com/humansofnewyork). Here you go, enjoy!

      ## [The fluffington post](http://min-s.com/thefluffingtonpost.tumblr.com)
      
      [![](/images/posts/min-s-fluffington.png)](http://min-s.com/thefluffingtonpost.tumblr.com)

      
      ## [Sartorial](http://min-s.com/sartorial.tumblr.com)

      [![](/images/posts/min-s-sartorial.png)](http://min-s.com/sartorial.tumblr.com)


      ## [The Black Workshop](http://min-s.com/theblackworkshop.tumblr.com)

      [![](/images/posts/min-s-black-workshop.png)](http://min-s.com/theblackworkshop.tumblr.com)

      P.S.: You should follow me on [Twitter here](https://twitter.com/CarlSednaoui).
