extends ../../../templates/post

block content
  .markdown
    :markdown
      # Google Analytics - Happy April Fool

      It seems that today the International Space station has been busy surfing the web today.

      I was just on Google Analytics and noticed that my personal site was showing 41 Active Visitors from the ‘International Space Station - Control Room’. Glad to know that my site is Astronaut worthy :)

      If you want to see it for yourself go to Google Analytics &gt; Real Time &gt; Overview and look at your map. You can also [visit this link](https://www.google.com/analytics/web/?hl=en&amp;pli=1#realtime/rt-overview%C2%A0).

      Happy April Fool’s Day from Google, GA nerds!

      [Image below is clickable, opens in a new window]

      [![](http://i.imgur.com/e6Pnf3w.png)](http://i.imgur.com/e6Pnf3w.png)

      P.S.: You should follow me on&nbsp;<a href="https://twitter.com/CarlSednaoui">Twitter here</a>.

      P.P.S.:&nbsp;<a href="http://min-s.com/tagged/manhattan">In need of inspiration? Check out min-s!</a>
