extends ../../../templates/post

block content
  .markdown
    :markdown
      # It’s the energy, not the time
              
      Most people have a tendency to believe that Time is their most limited resource. I’d like to differ and say that our most limited resource is Energy.

      Everyday, after waking up, you only have a limited amount of Energy available to spend. Today, since you are young and handsome, you have a great deal of Energy. Tomorrow, you’ll be old, handsome nonetheless, but you’ll have less Energy.

      As you can imagine, some tasks require more Energy than others. Also, some tasks <em>will</em> affect your energy levels. I mean, rarely will you go through an hour of answering emails and tweets and feel like “Hot damn, I’m in the zone! Lets do this for another 4 hours”. (And if you do, then try call verifying leads.) The same is true after spending an hour on HN - your energy level just drops. On the other hand, if you’re coding up some cool new feature an hour will feel like 10 minutes. Even though coding takes a lot of energy, in my opinion, it doesn’t drastically decrease your energy levels (but rather does so gradually, throughout the day).

      Next time you have to decide whether to do something or not, don’t only measure how much time it will take you - also take into account how much energy it requires. Also, since you’re as young as you’ll ever be again, it’s a good idea to pursue your most ambitious, energy demanding, ideas today. I’m sure that your older you will be grateful.
