extends ../../../templates/post

block content
  .markdown
    :markdown
      # Find an Accountability Partner and Achieve Your Goals

      **tldr:** Having an accountability partner has helped me remain motivated when the temptation to quit was strong. I encourage you to find an accountability partner to keep you in check - as well as help you track and achieve realistic and measurable goals.

      I hate running. Let me rephrase that, I have yet to take pleasure in running. I’ve been struggling to keep up the “good habit” of running 3 times a week. It’s something I want to do, but it’s also something that I dread. Thanks to a friend I was able to remain motivated and keep up with my jogging routine - even now that the weather has dropped to 40F in NYC (that’s 5 degrees Celsius). This was the 1st time that I experienced the power of an accountability partner. I am now repeating this (having an accountability partner) to go through a 8 days cleanse and so far it’s working wonderfully well.

      Ok, so let’s talk about YOU now. The new year is just starting and, chances are, **you have some pretty ambitious goals** you’d like to get through in 2013. Looking back, 2012 probably started off the same way: Many ambitious goals, endless to-do lists and, by the end of the year, you realized that you only achieved some of them. **What are you going to do differently this year to achieve your goals?** What product(s) are you going to ship by the end of 2013? Think about it. No seriously.</div>


      Once you’ve identified your goals, it’s time to find your accountability partner. According to [Wikipedia](http://en.wikipedia.org/wiki/Accountability_partner) “An accountability partner is a person who coaches another person in terms of helping the other person keep a commitment”. **You now need to find someone**, anyone - yes, even me, **to help you stay on track with your goals.**

      There are **3 important things** to keep in mind when using the power of an accountability partner.

      1. Tell your accountability partner WHAT goal you want to be kept accountable for (yes, I know, sounds obvious)
      1. Make sure you provide both: a goal and a deadline
      1. Make sure that your goal is MEASURABLE
        - **A good example:** Finish the redesign wireframes for CourseBacon by January 15. This include the resources index page and the resources show page.

      Now do me a **HUGE** favor: **Write down a measurable goal and send it to a friend** and ask him/ her to become your accountability partner. Actually, here’s my offer, if you can’t find an accountability partner** I’d be more than happy to become yours** - I’ll do this with the first 10 people that reach out. My email is carlsed[a.t]ThatGoogleEmailThing.com.

      Give it a shot, what do you have to lose?


      P.S. I’d love to hear how you stay motivated, let me know in the comments or on [Hacker News](http://news.ycombinator.com/item?id=5017385).
