extends ../../../templates/post

block content
  .markdown
    :markdown
      # Wouldn’t it be great if…?

      Couple nights ago, over dinner, my girlfriend and I were talking about startups and this phrase came up:

      **'Wouldn't it be great if…?'**

      Take a second to think about it. When it comes to your startup, when I say ‘**Wouldn’t it be great if…’** what comes to mind? If you think about your product, user acquisition strategy or PR outreach, what ideas do these words evoke?

      **'Wouldn't it be great if…?'**

      If you were to ask your team this question, what responses would you get? (There’s only one way to find out.) This combination of words appears to be the perfect way to question the status quo and bring new ideas to light.

      As soon as I’m done with [Hacker School](https://www.hackerschool.com/) (and join the workforce again) I’d love to implement a monthly email that goes out to my team and ask this very question: **Wouldn’t it be great if…? **I’d also love to test this with our customers (or a segment of them).

      How do you come up with new ideas? If you’ve ever done anything similar, [I’d love to hear about it!](https://twitter.com/carlsednaoui)
