extends ../../../templates/post

block content
  .markdown
    :markdown
      ## Google Calendar: Adding Other Calendars to Your iPhone

      Calendars shared with you on Google Calendar are added to your ‘Other calendars’.

      ![](/images/posts/google-calendar.png)

      On the web, you’re able to see events from both ‘My calendars’ AND ‘Other calendars’. This is great buuuut, when it comes to checking your upcoming events on your iPhone you’ll notice that the only calendar events available are those that fall under ‘My calendars’.

      Adding your ‘Other calendars’ to your iPhone is quite simple as it turns out. Simply go here [https://www.google.com/calendar/iphoneselect](https://www.google.com/calendar/iphoneselect) and select the calendars you wish to see on your iPhone.

      Give it a minute to sync and you’ll be all set.
