h1 Google Analytics - Happy April Fool

p It seems that today the International Space station has been busy surfing the web today.</span>

p <span>I was just on Google Analytics and noticed that my personal site was showing 41 Active Visitors from the ‘International Space Station - Control Room’. Glad to know that my site is Astronaut worthy :)</span>

p If you want to see it for yourself go to Google Analytics &gt; Real Time &gt; Overview and look at your map. You can also visit this link: <a href="https://www.google.com/analytics/web/?hl=en&amp;pli=1#realtime/rt-overview%C2%A0">https://www.google.com/analytics/web/?hl=en&amp;pli=1#realtime/rt-overview&nbsp;</a>

p Happy April Fool’s Day from Google, GA nerds!

p [Image below is clickable, opens in a new window]

p <a href="http://i.imgur.com/e6Pnf3w.png" title="Google Analytics April Fool's Day 2013" target="_blank"><img alt="image" src="http://media.tumblr.com/65846681a6da74252982be70ba479768/tumblr_inline_mkjwmfhxVr1qz4rgp.png"></a>

p P.S.: You should follow me on&nbsp;<a href="https://twitter.com/CarlSednaoui">Twitter here</a>.

p P.P.S.:&nbsp;<a href="http://min-s.com/tagged/manhattan">In need of inspiration? Check out min-s!</a>
