/**
 * styles used by scripts
 */
.js-tweetable {
  background-color: none;
}
.js-tweetable a {
  color: inherit;
  text-decoration: none;
  border: none;
}
.js-tweetable a:after {
  content: '';
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 4px;
  background-image: url("/images/icon-twitter.png");
  background-size: 15px;
  background-repeat: no-repeat;
}
