/**
 template layouts
 */
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: pageWidth;
  padding: 10px;
  margin: 30px auto 0 auto;
}
.content {
  -webkit-box-flex: 5;
  -webkit-flex: 5 0px;
      -ms-flex: 5 0px;
          flex: 5 0px;
  padding: 0 10px;
}
.sidebar {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0px;
      -ms-flex: 2 0px;
          flex: 2 0px;
  padding: 0 10px;
}
