.homepage .quote {
  padding-top: 10%;
}
.homepage h1,
.homepage h2 {
  font-family: font-raleway;
  font-weight: 200;
  text-transform: lowercase;
  text-align: center;
  color: #888;
}
.homepage h1 {
  font-size: 1.5em;
  -webkit-animation: fadeinfromtop 3s;
          animation: fadeinfromtop 3s;
  margin-bottom: 30px;
}
.homepage h2 {
  font-size: 1.2em;
  -webkit-animation: fadeinfrombottom 6s;
          animation: fadeinfrombottom 6s;
  opacity: 1;
}
@-webkit-keyframes fadeinfromtop {
  0% {
    opacity: 0;
    margin-top: -30px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes fadeinfromtop {
  0% {
    opacity: 0;
    margin-top: -30px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@-webkit-keyframes fadeinfrombottom {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  30% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes fadeinfrombottom {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  30% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
.about {
  max-width: 600px;
  margin: 0 auto;
}
.about .about-item {
  margin-top: 40px;
}
.about img {
  width: 100%;
}
